<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>


<body>
  <div class="tnavbar">
  <div class="tlogo">
      <%= image_tag('1.png', :class => "logoimg") %>
      <h3 class="title"> Out of Home</h3>
  </div>
  
  <div>

    <%= button_to "Logout" , logout_path,method: :delete %>  
  </div>
</div>
  
  
<div class="dash-content">
    <div class="sidebar">
    
<div><h3 style="margin:40px">
    <% if @user %>
        <%= @user.company_name %>
    <% end %> 
</div>

        
<%= link_to "Profile", edit_clientprofile_path(@user), class:"item2"%>
    <%= link_to "Book BillBoard", viewbillboards_path, class:"item2"%>
    <div class='item'><b>Requests</b></div>
    <%= link_to "Booked Billboards", clientbooked_path, class:"item2"%>
        
    </div>
    
    <div class='item-data-viewbillboards'>
    <div class='show_billboard'>
        <div class="container-lg">
        <div class="table-responsive">
        <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2><b>Pending Requests</b></h2></div>
                <div class="col-sm-4">

                </div>
                </div>
            </div>
            <table id="tabl" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Billboard Name</th>
                        <th>Company Name</th>
                        <th>Content Status</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                <% @board_details.each do |booking| %>
                    <tr>
                    <td><%=booking.name%></td>
                    <td><%=booking.company_name%></td>



                    <td>
                        <% if booking.content_approved == 1 %>
                            <div id="pending"><p style="color:blue;">pending...</p></div>
                        <% elsif booking.content_approved == 2 %>
                            <div id="approved"><p style="color:green;">Approved</p></div>
                        <% elsif booking.content_approved == -1 %>
                            <div id="approved"><p style="color:red;">Rejected</p></div>
                        <% else %>
                            <div></div>
                        <% end %>
                    </td>
                    <td>
                        <% if (booking.content_approved == 2) && (booking.payment_approved == 0)%>
                            <%= link_to "Upload Details",{:controller=>"pay",:action => "payment", :id=>booking.id},class:" btn btn-primary"%>
                            <%= link_to "Bill",{:controller=>"pending",:action => "openbill", :id=>booking.id},class:" btn btn-success"%>
                        <% elsif (booking.content_approved == 2) && (booking.payment_approved == 1) || (booking.payment_approved == 2) || (booking.payment_approved == -1) || (booking.payment_approved == -2)%>
                                <div id="approved"><p style="color:black;">Uploaded</p></div>
                        <% else %>
                        <div></div>
                        <% end %>
                    </td>
                    <td>
                        <% if (booking.payment_approved == 1)%>
                            <div id="approved"><p style="color:blue;">Pending</p></div>
                        <% elsif (booking.payment_approved == 2)%>
                                <div id="approved"><p style="color:green;">Approved</p></div>
                        <% elsif (booking.payment_approved == -2)%>
                                <div id="reject"><p style="color:red;">Rejected</p></div>
                        <% else %>
                        <div></div>
                        <% end %>
                    </td>
                    <td>
                        <% if (booking.content_approved == -1) || (booking.payment_approved == -2)%>
                            <%= link_to "OK" ,{:action => "deleterecord",  :id=>booking.id} %>
                        <% else %>
                            <div></div>
                        <% end %>
                    </td>
                   
                    </tr>
                       <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


</div>


</body>
<script type="module">

$document.ready(function () {
    $('#tabl tbody tr').each(function () {
        var colnbr = $(this).find("td:eq(3)").text();
        if(colnbr == "0"){
            $(this).find("td:eq(3)").text(" ");
        }
    });
});

function myFunction() {
    let vari = document.getElementById("approved").innerHTML;
    vari.style.display = "none";
  }
    



</script>
</html>