
  <div class="tnavbar">
  <div class="tlogo">
      <%= image_tag('1.png', :class => "logoimg") %>
      <h3 class="title"> Out of Home</h3>
  </div>
  
  <div>
  <% if @user %>
    <%= button_to "Logout" , logout_path,method: :delete %>
<% end %>  
  </div>
</div>
  
  
<div class="dash-content">
    <div class="sidebar">
        <div class="company-name"><h3>
        <% if @user %>
            <%= @user.company_name %>
        <% end %> 

        </h3></div>
        <div class='item'>Profile</div>
        <div class='item'>Add BillBoard</div>
        <div class='item'>Manage BillBoards</div>
        <div class='item'><b>Booking Requests</b></div>
        <div class='item'>Booked BillBoards</div>
        <div class='item'>Payment Details</div>
    </div>

    <div class='item-data-openrequest'>
        <div class="col-md-9 offset-md-3 payment-card">
                    <span class="anchor" id="formPayment"></span>
                    
                    <%# <hr class="my-5"> %>

                    <!-- form card cc payment -->
                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <h3 class="text-center">Booking Request</h3>
                            <hr>

                                
                        <div class="container-fluid">
                            <table id="productSizes" class="table">

                                <tbody>
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Company Name</b></td>
                                        <td class="col-7"><%=@request_detail.client.company_name%></td>
                                    </tr>
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Billboard</b></td>
                                        <td class="col-7"><%=@request_detail.board.name%></td>
                                    </tr>
                         
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Location</b></td>
                                        <td class="col-7"><%=@request_detail.board.location%></td>

                                    </tr>
                                    
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Booking Start Date</b></td>
                                        <td class="col-7"><%=@request_detail.start_date%></td>
                                    </tr>
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Booking End Date</b></td>
                                        <td class="col-7"><%=@request_detail.end_date%></td>
                                    </tr>
                                    <tr class="d-flex">
                                        <td class="col-5"><b>Bill</b></td>
                                        <td class="col-7"><%=@request_detail.total_bill%></td>
                                    </tr>
                                    
                                    <tr class="d-flex">
                                    <td class="col-5"><b>Content</b></td>
                                    <% if @request_detail.video.attached? %>
                                        <% if @request_detail.video.content_type.include?("image") %>
                                            <td class="col-7"><%=image_tag(@request_detail.video,width:"400px",)%></td>
                                        <% else %>
                                            <td class="col-7"><%=video_tag url_for(@request_detail.video),controls: true ,width: 400 %></td>
                                        <% end %>

                                        
                                    <% end %>    


                                    
                                
                                    </tr>
                                    <tr class="d-flex">

                                        <td class="col-6"><%= link_to "Reject", {:action => "rejectcontent",  :id=>@request_detail.id} ,class:"btn btn-danger next" %></td>

                                        <td class="col-6"><%= link_to "Approve", {:action => "approvecontent",  :id=>@request_detail.id} ,class:"btn btn-primary next" %></td>
                                        

                                    
                                    </tr>

                                </tbody>
                            </table>
                            
                        </div>

                        </div>
                    </div>

    
    </div>    
</div>