
  <div class="tnavbar">
  <div class="tlogo">
      <%= image_tag('1.png', :class => "logoimg") %>
      <h3 class="title"> Out of Home</h3>
  </div>
  
  <div>
  <% if @user %>
    <%= button_to "Logout" , logout_path,method: :delete %>
<% end %>  
  </div>
</div>
  
  
<div class="dash-content">
    <div class="sidebar">
        <div class="company-name"><h3>
        <% if @user %>
            <%= @user.company_name %>
        <% end %> 
        </h3>
        </div>

        <%= link_to "Profile", edit_clientprofile_path(@user), class:"item2"%>
        <%= link_to "Book BillBoard", viewbillboards_path, class:"item2"%>
        <%= link_to "Requests", pending_path, class:"item2"%>
        <div class='item'><b>Booked Billboards</b></div>

    </div>
    <div class='item-data'>
        <div class='item-viewrequest'>
            <div class="">
                <div class="table-responsive">
                    <div class="table-wrapper">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-8"><h2><b>Booked</b> <b>Billboards</b></h2></div>
                            </div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Booked Billboard</th>
                                <th>End Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            <%@booking_details.each do |detail|%>
                                <tr>
                                    <% if detail.content_approved == 2 && detail.payment_approved == 2 %>
                                        <td class="t"> 
                                        You have booked  <b>
                                        <%=detail.board.name%>
                                        </b></td>
                                        <td><%=detail.end_date%></td>
                                    <% end %>
                                    </tr>
                                    <%end%>

                            </tbody>
                        </table>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>