



  <body style = "background-color:rgb(92, 179, 196)">


  <div class="tnavbar">
  <div class="tlogo">
      <%= image_tag('1.png', :class => "logoimg") %>
      <h3 class="title"> Out of Home</h3>
  </div>

  <div>
  <%= link_to "Home", root_path, class:"home-btn"%> 
  <%= link_to "Login", login_path, class:"home-btn"%>
  </div>
</div>


<div class="container-fluid set">
  <div class="row loginpagerow">
  <div class="col-1">
  </div>
    <div class="logincol col-5 imagebox">

    <h1 class="headinglogin">Bringing you the best of the best.</h1>
    <%= image_tag('loginpageimage.png', :class => "img") %>

    </div>


    <div class="col-5 logincol loginbox">
        <h1 class="Login-here">Register Here</h1>
        <%= form_with model: @owner,url:register_path, local: true  do |form| %>
          <% if @owner.errors.any? %>
            <div class="alert alert-danger">
            <% @owner.errors.full_messages.each do |message| %>
               <div> <%= message %> </div>
            <% end %>
            </div>
         <% end %>
          <div class="row" style="margin-top:30px">
          <div style="width:45%; height:35vh; margin-left:25px;">
              <%= form.email_field :email ,class: "form-control login-email-field signup-fields", placeholder:"Email" %>
              <%= form.text_field :company_name ,class: "form-control login-email-field signup-fields", placeholder:"Company Name" %>
              <%= form.text_field :address ,class: "form-control login-email-field signup-fields", placeholder:"City" %>

              <h5 style="margin-top:40px;color:white; "><b>Sign Up as : </b></h5>

              <div class="radio">
              <label for="cc_bank" style="color:white; "><b>Owner</b></label>
              <%= form.radio_button :status ,'owner'%>
              <label for="cc_bank" style="color:white; "><b>Client</b></label>
              <%= form.radio_button :status ,'b'%>
              </div>
          </div>
          <div style="width:45%; height:35vh; margin-left:25px;">
             <%= form.telephone_field :contact_no ,class: "form-control login-email-field signup-fields", placeholder:"Contact No" %>
              <%= form.password_field :password ,class: "form-control login-email-field signup-fields", placeholder:"password" %>
              <%= form.password_field :password_confirmation,class: "form-control login-email-field signup-fields", placeholder:"Confirm password" %>
          </div>



          <div class="mb-3 login-input">
             <%= form.submit "Signup" ,class: "sign-btn btn btn-primary"%>
          </div>
            
          </div>
          
         
        <% end %>

    </div>
    <div class="col-1">
    </div>
  </div>
</div>

  </body>